<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHM.Accountancy.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MHM.Accountancy.Win.Properties.Settings.AccountancyConnectionString"
            connectionString="Data Source=10.180.10.167;Initial Catalog=SomarAccountancyEmil;User ID=emil;Password=test@)!(2019;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
    <userSettings>
        <MHM.Accountancy.Win.Properties.Settings>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
        </MHM.Accountancy.Win.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="RetailDefaultContractId" value="6"/>
    <add key="Server" value="."/>
    <add key="Database" value="Clima"/>
    <add key="UserName" value="appName"/>
    <add key="Password" value="pwd"/>
  </appSettings>
</configuration>
